// prettier-ignore
{% extends base.template.html %}
{% block title %}Dashboard{% end %}
{% block header %}
{% end %}

{% block main %}
<script type="text/javascript">
  var esphome_globals = {
    version: "{{ version }}",
    docs_link: "{{ docs_link }}",
  };
</script>

{% if login_enabled %}
<script type="text/javascript">
  esphome_globals.logoutUrl = "{{ relative_url }}logout";
</script>
{% end %}

<esphome-main></esphome-main>
{% end %}

{% block footer %}
<script
  src="{{ get_static_file_url('js/esphome/index.js') }}"
  type="module"
></script>
{% end %}
<!-- prettier-ignore -->
