# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.0
      - name: Use Node.js
        uses: actions/setup-node@v5.0.0
        with:
          node-version: 24
      - run: npm ci
      - run: tsc
      - run: script/build
      - run: web.esphome.io/script/build_web
      - run: npm exec -- prettier --check src web.esphome.io/src
